:root {
  --main-bg-color: #120030;
  --main-text-color: #ccc;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'B612 Mono', monospace;
}

*::selection {
  background-color: #C96480;
  color: #7e94b6;
}

p.long {
  text-indent: 5em;
}

#date {
  position: absolute;
  right: 8px;
  font-weight: bold;
}

body > p:nth-of-type(1) {
  margin-top: 40px;
}
