@import url("https://fonts.googleapis.com/css?family=B612:400,700i")

:root {
  --main-bg-color: #120030;
  --main-text-color: #ccc;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'B612 Mono', monospace;
}

*::selection {
  background-color: #C96480;
  color: #7e94b6;
}

p.long {
  text-indent: 5em;
}

#date {
  display: block;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 30px;
}

hr {
  border: none;
  border-top: 1px solid var(--main-text-color);
}

@media print {
  :root {
    --main-bg-color: #FFF;
    --main-text-color: #000;
  }
  
  .nav {
    display: none;
  }
}
